.field-text {
    --field-text-background: transparent;
    --field-text-active-background: var(
        --bx-field-text-active-background,
        var(--field-text-background)
    );
    --field-text-min-height: var(--table-row-min-height, 48px);
    --field-text-padding: var(--table-field-padding, 10px);
    min-width: calc(var(--min-width, 0) + 20px);
    position: relative;
}

.field-text--success {
    --field-text-background: var(--bx-field-text-success, transparent);
}

.field-text--warning {
    --field-text-background: var(--bx-field-text-warning, transparent);
}

.field-text--danger {
    --field-text-background: var(--bx-field-text-warning, #fe9292);
}

.field-text--edited {
    --field-text-background: var(--bx-field-text-edited, transparent);
}

.field-text_input {
    width: 100%;
    padding: var(--field-text-padding);
    min-height: var(--field-text-min-height);
    box-sizing: border-box;
    border: none;
    background: var(--field-text-background);
}

.field-text_input:not([disabled]) {
    background: var(--field-text-active-background);
}

.field-text_reflect {
    width: auto;
    position: absolute;
    opacity: 0;
}

.field-text_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
