.bx-stepper {
    display: inline-flex;
    flex-flow: row;
    --border-color: var(--bx-color-grey-time);
    --border-size: 1px;
    --border: var(--border-size) solid var(--border-color);
    font-size: var(--bx-input-sm-font-size);
}

.bx-stepper_group {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4px;
}

.bx-stepper_step {
    display: flex;
    flex: 0%;
}

.bx-stepper_button {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: var(--border);
    color: var(--border-color);
    font-size: unset;
    background: none;
    padding: 0;
    line-height: 0;
}

.bx-stepper_button--active {
    background: var(--bx-color-lblue);
    color: var(--bx-color-white);
    --border: none;
}

.bx-stepper_button--click {
    cursor: pointer;
}

.bx-stepper_line {
    flex: 0%;
    height: var(--border-size);
    background: var(--border-color);
    min-width: 4rem;
    margin-top: 1em;
}

.bx-stepper_label {
    white-space: nowrap;
}
