* {
    line-height: var(--bx-font-line-height, 1.35);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: var(--bx-font-primary);
}

body {
    font-family: var(--bx-font-secondary);
}

button,
a {
    text-decoration: none;
    font-family: unset;
}

h1 {
    font-size: var(--bx-font-size-title-1);
}

h2 {
    font-size: var(--bx-font-size-title-2);
}

h3 {
    font-size: var(--bx-font-size-title-3);
}

strong,
b {
    font-weight: var(--bx-font-bold);
}
