:root {
    --bx-xs-radius: 0.75rem;
    --bx-sm-radius: 0.75rem;
    --bx-md-radius: 1rem;
    --bx-lg-radius: 1rem;

    --bx-font-size-title-1: 2rem;
    --bx-font-size-title-2: 1.375rem;
    --bx-font-size-title-3: 1.125rem;

    --bx-font-size-text-1: 1rem;
    --bx-font-size-text-2: 0.875rem;
    --bx-font-size-text-3: 0.625rem;

    --bx-font-bold: 900;

    --bx-font-primary: "Mont", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bx-font-secondary: "Lato", system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --bx-space-xl: 4rem;
    --bx-space-lg: 2rem;
    --bx-space-md: 1.25rem;
    --bx-space-sm: 0.5rem;
    --bx-space-xs: 0.25rem;
}
