:root {
    --bx-input-transition: 0.25s ease all;

    --bx-input-border: 1px solid;

    --bx-input-bgcolor: var(--bx-color-white);
    --bx-input-color: unset;

    --bx-input-font-family: var(--bx-font-secondary);
    --bx-input-font-weight: 700;

    --bx-input-xs-font-size: var(--bx-font-size-text-2);
    --bx-input-sm-font-size: var(--bx-font-size-text-2);
    --bx-input-md-font-size: var(--bx-font-size-text-1);
    --bx-input-lg-font-size: var(--bx-font-size-title-3);

    --bx-input-xs-height: 2rem;
    --bx-input-sm-height: 2.5rem;
    --bx-input-md-height: 3rem;
    --bx-input-lg-height: 3.5rem;

    --bx-input-xs-padding: 0.5rem 1rem;
    --bx-input-sm-padding: 0.5rem 1rem;
    --bx-input-md-padding: 0.5rem 1.5rem;
    --bx-input-lg-padding: 0.5rem 2rem;

    --bx-input-xs-radius: var(--bx-xs-radius);
    --bx-input-sm-radius: var(--bx-sm-radius);
    --bx-input-md-radius: var(--bx-md-radius);
    --bx-input-lg-radius: var(--bx-lg-radius);

    --bx-input-gap: 0.5rem;
}
