.bx-form {
    display: grid;
    gap: var(--bx-space-lg);
    grid-template-columns: var(--columns, 1fr);
}

.bx-form_column {
    display: grid;
    gap: var(--bx-space-md);
    align-content: start;
}

@media (max-width: 420px) {
    .bx-form {
        --columns: 1fr !important;
    }
}
