.pagination {
    --pagination-button-padding: var(--bx-pagination-button-padding, 7px);
    --pagination-label-padding: var(--bx-pagination-label-padding, 4px);
    --pagination-gap: var(--bx-pagination-gap, 24px);
    --pagination-font-size: var(--bx-pagination-font-size, 12px);
    --pagination-move-color: var(--bx-pagination-move-color, #ff7a00);

    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: start;
    line-height: 1em;
    grid-gap: var(--pagination-gap);
    font-size: var(--pagination-font-size);
}

.pagination_paged_label {
    padding: var(--pagination-label-padding);
}

.pagination_paged {
    display: flex;
}

.pagination_btn {
    cursor: pointer;
}

.pagination_btn,
.pagination_move_label {
    background: transparent;
    border: none;
    padding: var(--pagination-button-padding);
    margin: 0px;
}

.pagination_move {
    display: flex;
    align-items: center;
}

.pagination_btn--disabled {
    opacity: 0.34;
}
