.bx-label_row {
    --gap: 0.25rem;
    width: 100%;
    display: flex;
    gap: var(--gap);
    flex-flow: column;
    font-size: var(--bx-input-sm-font-size);
}

.bx-label_required {
    color: var(--bx-color-red-alert);
    font-size: 1.2em;
    font-weight: bold;
    line-height: 0;
    margin-left: 0.1em;
    position: relative;
    top: 0.1em;
}

.bx-label_row--horizontal {
    flex-flow: row;
    align-items: center;
    --gap: 1rem;
}

.bx-label--center {
    display: flex;
    justify-content: center;
}

.bx-label_row--reverse {
    flex-flow: column-reverse;
}

.bx-label_row--reverse.bx-label--horizontal {
    flex-flow: row-reverse;
}

.bx-label_detail {
    font-size: 0.75rem;
}

.bx-label_detail small {
    font-size: 0.625rem;
}
