.bx-progress {
    --height: var(--bx-space-xs);
    --background: var(--bx-color-grey-up);
    --value-background: var(--bx-color-blue);
    --radius: 100px;
    width: 100%;
    height: var(--height);
    background: var(--background);
    border-radius: var(--radius);
}

.bx-progress_value {
    width: calc(100% * var(--percent));
    height: 100%;
    border-radius: var(--radius);
    background: var(--value-background);
    transition: 0.3s ease all;
}
